@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 240 50% 99%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
  --chart-1: 220 70% 50%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 240 5% 64.9%;
  --scrollbar-thumb: theme('colors.gray.500');
  --scrollbar-track: theme('colors.gray.200');
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 10%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --border: 240 3.7% 30%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 240 4.9% 83.9%;
  --scrollbar-thumb: theme('colors.gray.700');
  --scrollbar-track: theme('colors.gray.900');
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 *::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-gray-900 rounded-full;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-gray-700 rounded-full;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600 dark:bg-gray-800;
}

.global-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.500') theme('colors.gray.200'); /* thumb, track */
}

.dark .global-scrollbar{
    scrollbar-color: theme('colors.gray.700') theme('colors.gray.900');
}



html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-synthesis-weight: none;
  text-rendering: optimizeLegibility;
}

/* body * {
  @apply transition-colors duration-500;
} */

/* [data-theme="dark"] {
  --background-color: #000;
  --text-color: #fff;
  --border-color: #f2f2f2;
  --pattern-fg: color-mix(in oklab, var(--color-white) 10%, transparent);
} */

.ql-container.ql-snow {
  border: 0px !important;
}
.ql-code-block-container {
  background: hsl(var(--muted));
  /* background: rgb(30 41 59 / 57%); */
  padding: 10px;
  font-size: 10px;
  border-radius: 6px;
  color: hsl(var(--foreground));
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill:  hsl(var(--foreground)) !important;
}
/* .quill.editor {
  display: flex;
  flex-direction: column;
  flex: 1 1;
} */
.ql-toolbar.ql-snow {
  border: 0px !important;
  border-bottom: 1px solid hsl(var(--border)) !important;
}

.ql-snow .ql-stroke {
  stroke: hsl(var(--foreground)) !important;
}
.ql-snow .ql-picker {
  color: hsl(var(--foreground)) !important;
}
.ql-editor {
  min-height: 20rem;
}
.ql-editor.ql-blank::before {
  color: rgb(167 167 167 / 60%) !important;
  font-size: 1rem;
}

.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border) / 0.5);
}

@media (min-width: 1400px) {
  .container-wrapper {
    border-left-width: 1px;
    border-right-width: 1px;
  }
}
.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  border-style: dashed;
  border-color: hsl(var(--border) / 0.7);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
